</head>

<body>

    <nav class="nav">
        <div class="nav-left">
            <a href="/" class="nav-item">YOUR LOGO</a>
        </div>

        <!-- This "nav-toggle" hamburger menu is only visible on mobile -->
        <!-- You need JavaScript to toggle the "is-active" class on "nav-menu" -->
        <span id="main-nav-toggle" class="nav-toggle" onclick="toggleMainNav()">
<span></span>
<span></span>
<span></span>
</span>

<!-- This "nav-menu" is hidden on mobile -->
<!-- Add the modifier "is-active" to display it on mobile -->
<div id="main-nav" class="nav-right nav-menu">
    
    {{ template "menu.html" .site.BuildMenu `` }}
    
    <span class="nav-item">
      <a href="https://github.com/ecosystemsoftware" class="button is-primary">
            <span>Log In</span>
    </a>
    </span>
</div>
</nav>