{{ template "header-top.html" . }}
<title>{{ .record.title }}</title>
<meta name="description" content="{{ .record.description }}"> {{ template "header-bottom.html" . }}

<section class="section">
    <div class="container">
        <div class="heading">
            <h2 class="subtitle">
                <a href="/site/{{ .table }}">Back to {{ .table }}</a>
            </h2>
        </div>
        <hr />
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="heading">
            <h1 class="title">{{ .record.title }}</h1>
            <img src="http://placehold.it/350x150">
            <h2 class="subtitle">
                {{ .record.description }}
            </h2>
        </div>
    </div>
</section>


{{ template "footer.html" . }}